@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?famille=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


header{
    height: 4em;
    font-family: "Shrikhand",cursive;
    text-align: center;
    font-size: 0.9em;
    box-shadow:  0 0 0.8em rgb(0 0 0 / 25%); 
    padding: 0.5em 0;
    margin: 0;
    position: relative;
}
 

.ville{
    display: flex;
    background-color: #f3f3f3;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
}  

h1{
    margin: 0.3em 0;  
  }

.iconeville{
    padding-right: 0.7em;
    font-size: 1.5em;
}
/*explorer*/
.explorer{
    height: 16em;
    text-align: center;
    padding: 1.2em;
    background-color: #f6f6f6;
}

.explorer h2{
    font-size: 1.3em;
}

.explorer p{
    font-size: 0.9em;
}

.explorer button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    background-image: linear-gradient(0deg, rgb(147,86,220,0.9),rgb(255,121,218,0.9));
    cursor: pointer;
    padding: 0.9em 1.3em;
    border: none;
    border-radius: 2em;
    box-shadow: 0 1px 5px -1px black;
    margin-top: 2em;
}

.explorer button:hover{
    transform: scale(1.03);
    opacity: 0.9;
}


/*Fonctionnement*/

.Fonctionnement{
    height: 23em;
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #ffffff;
}

.choix{
    display: flex;
    flex-direction: column;
}

.Fonctionnement h2{
   font-size: 1.2em;
   margin-left: 1.5em;
   padding-top: 2em;
}


.Fonctionnement .info{
    background-color: #f6f6f6;
    text-align: center;
    height: 4.5em;
    padding: 0.5em;
    border: 1px solid  #f6f6f6;
    margin: 0.5em 2em;
    border-radius: 1.5em;
    font-size: 1em;
    box-shadow: 0px 1px 3px 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Fonctionnement .info:hover{
    transform: scale(1.02);
    background-color: rgb(147,86,220,0.1);
}

.Fonctionnement .info:hover .fa-solid{
    color:  rgb(147,86,220,1);;
}

.Fonctionnement i{
    margin-right:1em;
    color:grey;
}

.Fonctionnement .numero_info{
      left: -15px;
      width: 1.8em;
      height: 1.9em;
      background-color: #9356Dc;
      border-radius: 60%;
      color: #ffffff;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
}

/*restaurants*/
/*images*/
.menus{
    width: 100%;
    height: 72em;
    padding: 1em;
    background-color: #f6f6f6;
}

.img_menu{
    object-fit: cover;
    width: 100%;
    height: 10em;
    border-radius: 20px 20px 0 0;   
}

.card_menu{
    width: 100%;
    height: 14em;
    background-color: #ffffff;
    box-shadow: 20px 10px 10px 25px #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    color: black;
}

.menus h2{
    font-size: 1.2em;
    margin: 0;
}

.bloc_menus1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc_menus2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*description*/
.description{
    padding-left: 0.5em;
    margin-top: 0.8em;
    position: relative;
}

.description>h3{
    margin: 0.2em;
    font-size: 0.9em;
}

.description>p{
    margin: 0.2em;
    font-size: 0.7em;
}

.description .fa-solid{
   right: 10%;
   transform: translateY(-150%); 
   color: transparent;
   background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(229, 12, 168));
   background-clip: text;
   font-size: 1.5em;
   position: absolute;
   opacity: 0;
   -webkit-background-clip: text;
   transition: all 2s ease-in-out;    
}
.description .fa-regular{
    right: 10%;
    transform: translateY(-150%);
    font-size: 1.5em;
    position: absolute;     
 }
.description:hover .fa-solid{
    opacity: 1;
    transform: translateY(-150%) scale(1.2);
}

.description h3,p{
    padding: 0;
}

.nouveau{
    display: flex;
    align-items: center;
    width: 5em;
    height: 2em;
    justify-content: center;
    color:  #13433f;
    background-color: #99E2Dc;
    transform: translateY(150%);
    margin-left: auto;
    margin-right: 1em;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: #9356Dc;
    background-color: #ffffff;
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0.5;
    animation: disparaitre 1s 6s forwards;
}

.loader p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 8em;
    font-size: 1.5em;
    border: 5px solid #9356Dc;
    border-top: 5px solid #99E2Dc;
    border-bottom: 5px solid #FF79DA;
    border-radius: 50%;
    font-family: "Shrikhand",cursive;
    animation: spin 3s ease-in-out 2;
}

@keyframes disparaitre{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/*footer*/
footer{
    height: 10em;
    background-color: #353539;
    color: #ffffff;
    padding-left: 0.5em;
    padding-top: 0.1em;
}

footer h2{
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
    margin-bottom: 0.6em;
}
footer p{
    font-size: 0.7em;
    margin: 0.5em;
}

footer a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.7em;
}

footer i{
    margin-right: 1em;
}

/*responsives oh my food*/

@media screen and (min-width: 768px){
    .Fonctionnement{
        height: auto;
        
        }
    .Fonctionnement h2{
        margin-left: 1em;
    }
    .info{
        width: 60%;
        font-weight: 100;
    }
    .choix{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 2em;
    }
    .Fonctionnement i{
        margin-right: 0.5em;
    }
    .Fonctionnement .numero_info{
        left: -20px;    
    }
  
}

@media screen and (min-width: 992px){
    .Fonctionnement{
        padding-left: 6em;
        padding-right: 6em;
    }

    .menus{
       height: 42em;
       padding-right: 5em;
    }

    .card_menu{
        width: 60%;
    }

    .bloc_menus1{
        display: flex;
        flex-direction: row;
    }

    .bloc_menus2{
        display: flex;
        flex-direction: row;
    }

    .bloc_menus1{
        margin-top: 2em;
        margin-bottom: 2em;
    }
 
    .bloc_menus2{
        margin-top: 2em;
    }

    .nouveau{
        display:flex;
        right: 5%;
        transform: translateX(450%);
        margin-top: auto;
        
    }

    .menus h2{
       margin-left: 5em;
       margin-top: 2em;
   }
   
}


/*A la française*/
.restau_menu{
    padding: 0 1em;
    align-items: center;
    background-color: #f6f6f6; 
    border-radius: 30px 30px 0 0;
}

.img_restau{
    object-fit: cover;
    width: 100%;
}

.française .fa-solid{
    font-size: 1.5em;
    position: absolute;
    right: 3%;
    transform: translateY(-200%); 
    color: transparent;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,1));
    background-clip: text;
    opacity: 0;
    -webkit-background-clip: text;
    transition: all 2s ease-in-out;    
 }
.française .fa-regular{
     font-size: 1.5em;
     position: absolute;
     right: 3%; 
     transform:  translateY(-200%)   
  }
  
.française:hover .fa-solid{
     opacity: 1;
     transform:  translateY(-200%) scale(1.2);
 }

.française h2{
    font-family: "Shrikhand",cursive;
    padding-top: 1.5em;
    font-weight: 300;
}

.composition_restau h3{
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 300;
    position: relative;
}

.composition_restau h3::after{
    content: attr(f86c);
    height: 0.2em;
    width: 1.7em;
    top: 1.2em;
    left: 0.1em;
    background-color: #99E2Dc;
    position: absolute;
}

.group_repas{
    display: flex; 
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin: 1em 0;
    border-radius: 1em;
}

.detail{
    padding: 1em;
}

.detail>h4,p{
    margin: 0;
}

.prix_repas{
    margin-left: auto;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
}

.detail_check{
    background-color: #99E2Dc;
    margin-right: -4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.group_repas:hover .detail_check{ 
    margin-right: 0;
    transform: scale(1.05);
}  

.detail_check i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 1.5em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 60%;
    color:  #99E2Dc;
}

.group_repas:hover .detail_check i{
    animation: rotatecheck 1s ease-in-out;
}

@keyframes rotatecheck{
    0%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

.categorie_repas{
    animation: apparence 2s;
}

@keyframes apparence{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(0.5);
    }
    75%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
    
}
/*commande*/
.commande{
    text-align: center;
    height: 10em;
    padding-top: 3em;
}

.commande button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,0.9));
    cursor: pointer;
    padding: 0.9em 2em;
    border: none;
    border-radius: 2em;
    box-shadow: 0 1px 5px 0 black; 
}

/*footer français*/
.footer_français{
    height: 10em;
    background-color: #353539;
    color: #ffffff;
}

.footer_français h2{
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
    margin-bottom: 0.6em;
}
.footer_français p{
    font-size: 0.7em;
    margin: 0.5em;
}

.footer_français a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.7em;
}

.footer_français i{
    margin-right: 1em;
}
   

/*responsives à la française*/
@media screen and (min-width: 768px){
    .img_restau{
        width:100%;
        height: auto; 
    }

    .restau_menu{
        padding: 0.5em;
        border-radius: 0;
    }
    .composition_restau{
        display: flex;
        height: 15em;
    }
    .composition_restau h3{
        font-size: 0.9em;
    }
    .categorie_repas{
        width: 40%;
        transform: translateY(25%);
    }
    .commande{
        padding-top: 5em;
    }
}

@media screen and (min-width: 992px){

    .img_restau{
        height: 30em;
    }
    .composition_restau{
        width: 100%;
    }

    .restau_menu{
        padding: 1em;
    }

    .française h2{
        padding-top: 0;
    }

    .commande{
        margin-top: 2.5em;
    }
}


/*La note enchantée*/
.Note_menu{
    padding: 0 1em;
    align-items: center;
    background-color: #f6f6f6; 
    border-radius: 30px 30px 0 0;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 18em;
}

.enchante .fa-solid{
    transform: translateY(-200%); 
    right: 3%;
    position: absolute;
    font-size: 1.5em;
    color: transparent;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,1));
    background-clip: text;
    opacity: 0;
    -webkit-background-clip: text;
    transition: all 2s ease-in-out;  
 }

.enchante .fa-regular{
     font-size: 1.5em;
     position: absolute;
     right: 3%; 
     transform:  translateY(-200%); 
  }
  
.enchante:hover .fa-solid{
     opacity: 1;
     transform:  translateY(-200%) scale(1.2);
 }

.enchante h2{
    font-family: "Shrikhand",cursive;
    padding-top: 2em;
    font-weight: 300;
}

.menu_restau h3{
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 300;
    position: relative;
}
.menu_restau h3::after{
    content: attr(f86c);
    height: 0.2em;
    width: 1.7em;
    top: 1.2em;
    left: 0.1em;
    background-color: #99E2Dc;
    position: absolute;
}

.groupe{
    display: flex; 
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin-bottom: 1em;
    border-radius: 1em;
}

.detail_repas{
    padding: 1em;
}

.detail_repas>h4,p{
    margin: 0;
}

.prix{
    margin-left: auto;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
}

.check{
    background-color: #99E2Dc;
    margin-right: -4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1em 1em 0;
    transition: all 1s;
}

.groupe:hover .check{ 
    margin-right: 0;
    transform: scale(1.05);
    
}  

.check i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 1.5em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 60%;
    color:  #99E2Dc;
}

.groupe:hover .check i{
    animation: rotatecheck 1s ease-in-out;
}

@keyframes rotatecheck{
    0%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/*commande*/
.commandez{
    text-align: center;
    height: 10em;
    padding-top: 3em;
}

.commandez button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,0.9));
    cursor: pointer;
    padding: 0.9em 2em;
    border: none;
    border-radius: 2em;
    box-shadow: 0 1px 5px 0 black; 
}


/*footer enchante*/
.footer_enchante{
    height: 10em;
    background-color: #353539;
    color: #ffffff;
}

.footer_enchante h2{
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.footer_enchante p{
    font-size: 0.7em;
    margin: 0.5em;
}

.footer_enchante a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.7em;
}

.footer_enchante i{
    margin-right: 1em;
}
/*responsive enchante*/
@media screen and (min-width: 768px){
    .img{
        width:100%;
        height: auto; 
    }

    .Note_menu{
        padding: 0.5em;
        border-radius: 0;
    }
    .menu_restau{
        display: flex;
        height: 15em;
    }
    .menu_restau h3{
        font-size: 0.9em;
    }
    .categorie{
        width: 40%;
        transform: translateY(25%);
    }
    .commandez{
        padding-top: 5em;
    }
}

@media screen and (min-width: 992px){

    .img{
        height: 50em;
    }
    .menu_restau{
        width: 100%;
    }

    .Note_menu{
        padding: 1em;
    }

    .enchante h2{
        padding-top: 0;
    }
    .commandez{
        margin-top: 2.5em;
    }
}



/*La palette du goût*/
.restaurants{
    padding: 0 1em;
    align-items: center;
    background-color: #f6f6f6; 
    border-radius: 30px 30px 0 0;
}

.img_palette{
    object-fit: cover;
    width: 100%;
    height: 18em;
}

.Palette .fa-solid{
    transform: translateY(-200%); 
    right: 3%;
    position: absolute;
    font-size: 1.5em;
    color: transparent;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,1));
    background-clip: text;
    opacity: 0;
    -webkit-background-clip: text;
    transition: all 2s ease-in-out;  
 }

.Palette .fa-regular{
     font-size: 1.5em;
     position: absolute;
     right: 3%; 
     transform:  translateY(-200%);  
  }
  
.Palette:hover .fa-solid{
     opacity: 1;
     transform:  translateY(-200%) scale(1.2);
 }

.Palette h2{
    font-family: "Shrikhand",cursive;
    padding-top: 2em;
    font-weight: 300;
    position: relative;
}

.different_menu h3{
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 300;
    position: relative;
}

.different_menu h3::after{
    content: attr(f86c);
    height: 0.2em;
    width: 1.7em;
    top: 1.2em;
    left: 0.1em;
    background-color: #99E2Dc;
    position: absolute;
}

.composition{
    display: flex; 
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin-bottom: 1em;
    border-radius: 1em;
}

.liste_repas{
    padding: 1em;
}

.liste_repas>h4,p{
    margin: 0;
}

.composition_prix{
    margin-left: auto;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
}

.confirmation{
    background-color: #99E2Dc;
    margin-right: -4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1em 1em 0;
    transition: all 1s;
}

.composition:hover .confirmation{ 
    margin-right: 0;
    transform: scale(1.05);
    
}  

.confirmation i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 1.5em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 60%;
    color:  #99E2Dc;
}

.composition:hover i{
    animation: rotatecheck 1s ease-in-out;
}

@keyframes rotatecheck{
    0%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/*commande*/
.choix_commande{
    text-align: center;
    height: 10em;
    padding-top: 3em;
}

.choix_commande button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,0.9));
    cursor: pointer;
    padding: 0.9em 2em;
    border: none;
    border-radius: 2em;
    box-shadow: 0 1px 5px 0 black; 
}


/*footer palette*/
.footer_palette{
    height: 10em;
    background-color: #353539;
    color: #ffffff;
}

.footer_palette h2{
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.footer_palette p{
    font-size: 0.7em;
    margin: 0.5em;
}

.footer_palette a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.7em;
}

.footer_palette i{
    margin-right: 1em;
}

/*responsive palette*/
@media screen and (min-width: 768px){
    .img_palette{
        width:100%;
        height: auto; 
    }

    .restaurants{
        padding: 0.5em;
        border-radius: 0;
    }
    .different_menu{
        display: flex;
        height: 15em;
    }
    .different_menu h3{
        font-size: 0.9em;
    }
    .resto_palette{
        width: 40%;
        transform: translateY(25%);
    }
    .choix_commande{
        padding-top: 5em;
    }
}

@media screen and (min-width: 992px){

    .img_palette{
        height: 50em;
    }
    .different_menu{
        width: 100%;
    }

    .restaurants{
        padding: 1em;
    }

    .Palette h2{
        padding-top: 0;
    }
    .choix_commande{
        margin-top: 2.5em;
    }
}



/*Le delice des sens*/
.restau_delice{
    padding: 0 1em;
    align-items: center;
    background-color: #f6f6f6; 
    border-radius: 30px 30px 0 0;
}

.img_delice{
    object-fit: cover;
    width: 100%;
    height: 18em;
}

.delice .fa-solid{
    transform: translateY(-200%); 
    right: 5%;
    position: absolute;
    font-size: 1.5em;
    color: transparent;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,1));
    background-clip: text;
    opacity: 0;
    -webkit-background-clip: text;
    transition: all 2s ease-in-out;  
 }

.delice .fa-regular{
     font-size: 1.5em;
     position: absolute;
     right: 5%; 
     transform:  translateY(-200%);  
  }
  
.delice:hover .fa-solid{
     opacity: 1;
     transform:  translateY(-200%) scale(1.2);
 }

.delice h2{
    font-family: "Shrikhand",cursive;
    padding-top: 2em;
    font-weight: 300;
}

.composition_menu h3{
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 300;
    position: relative;
}
.composition_menu h3::after{
    content: attr(f86c);
    height: 0.2em;
    width: 1.7em;
    top: 1.2em;
    left: 0.1em;
    background-color: #99E2Dc;
    position: absolute;
}

.liste_menu{
    display: flex; 
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin-bottom: 1em;
    border-radius: 1em;
}

.repas_liste{
    padding: 1em;
}

.repas_liste>h4,p{
    margin: 0;
}

.prix_menu{
    margin-left: auto;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
}

.confirmation_menu{
    background-color: #99E2Dc;
    margin-right: -4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1em 1em 0;
    transition: all 1s;
}

.liste_menu:hover .confirmation_menu{ 
    margin-right: 0;
    transform: scale(1.05);
    
}  

.confirmation_menu i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 1.5em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 60%;
    color:  #99E2Dc;
}

.liste_menu:hover i{
    animation: rotatecheck 1s ease-in-out;
}

@keyframes rotatecheck{
    0%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/*commande*/
.commande_delice{
    text-align: center;
    height: 10em;
    padding-top: 3em;
}

.commande_delice button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    background-image: linear-gradient(0deg, rgb(147,86,220,1),rgb(255,121,218,0.9));
    cursor: pointer;
    padding: 0.9em 2em;
    border: none;
    border-radius: 2em;
    box-shadow: 0 1px 5px 0 black; 
}


/*footer palette*/
.footer_delice{
    height: 10em;
    background-color: #353539;
    color: #ffffff;
}

.footer_delice h2{
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.footer_delice p{
    font-size: 0.7em;
    margin: 0.5em;
}

.footer_delice a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.7em;
}

.footer_delice i{
    margin-right: 1em;
}
@media screen and (min-width: 768px){
    .img_delice{
        width:100%;
        height: auto; 
    }

    .restau_delice{
        padding: 0.5em;
        border-radius: 0;
    }
    .composition_menu{
        display: flex;
        height: 15em;
    }
    .composition_menu h3{
        font-size: 0.9em;
    }
    .categorie_menu{
        width: 40%;
        transform: translateY(25%);
    }
    .commande_delice{
        padding-top: 5em;
    }
}


@media screen and (min-width: 992px){

    .img_delice{
        height: 50em;
    }
    .composition_menu{
        width: 100%;
    }

    .restau_delice{
        padding: 1em;
    }

    .delice h2{
        padding-top: 0;
    }
    .commande_delice{
        margin-top: 2.5em;
    }

}
