@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2? famille= Roboto:wght@300;400;500 &family= Shrikhand & display=swap');

* {
    box-sizing: border-box;
}

h1{
    font-family: "Shrikhand",cursive;
    border: 1px solid ;
}